fastapi==0.135.3
opencv_python==4.13.0.92
opencv_python_headless==4.13.0.92
numpy==2.2.6
Pillow==10.4.0
pix2tex==0.1.4
pydantic==2.12.5
pymongo==4.16.0
pytest==9.0.3
python-dotenv==1.2.2
sympy==1.14.0
latex2sympy2
texify==0.2.1
torch==2.10.0
transformers==4.38.2
uvicorn
python-multipart
tokenizers
timm
einops
antlr4-python3-runtime==4.7.2